.team_play_game{
    display: flex;
    justify-content: space-around;
}

.form-check, .form-group {
    padding: 5px;
}

.team_play_game > .form-check:hover {
    background-color: #1c79af;
    border-radius: 8px;
}

#gameStart{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}